if ("$PROFILE" == "singularity") {
    singularity.enabled = true
    singularity.autoMounts = true
} else if ("$PROFILE" == "conda") {
    params.enable_conda = true
} else {
//    docker.runOptions = "-v /home/sturm/projects:/home/sturm/projects -v /home/sturm/tmp:/home/sturm/tmp"
    docker.enabled = true
    docker.userEmulation = true
}

