if ("$PROFILE" == "singularity") {
    singularity.enabled = true
    singularity.autoMounts = true
} else if ("$PROFILE" == "conda") {
    params.enable_conda = true
} else {
    // docker.runOptions = "-v /home/sturm/projects/2021/nextflow-issue-1798/workflow:/home/sturm/projects/2021/nextflow-issue-1798/workflow"
    // docker.runOptions = "-v /home/sturm/projects/2021/nextflow-issue-1798/workflow_symlink:/home/sturm/projects/2021/nextflow-issue-1798/workflow_symlink"
    docker.enabled = true
    docker.userEmulation = true
}

